@import "../../../cor-variaveis.scss";

.sesao-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    padding: 0px 70px;
    span{
        font-size: 20px;
        font-weight: 400;
        color: $texto-principal;
        margin-left: 8px;        
    }

    h1{
        font-size: 72px;
        color: $texto-principal;
        font-weight: 400;
    }
}
.headline{
    margin-right: 600px;
}

.cultos-nome{
    .cultos {
            display: flex;
            flex-direction: column;
        }
    
        .culto-dias {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            /* Ajuste a margem conforme necessário */
        }
    
        h2 {
            margin-bottom: 5px;
            /* Ajuste a margem conforme necessário */
        }
    
        h3,
        p {
            margin-top: 0;
            /* Remova a margem superior padrão */
        }}