<app-header></app-header>
<main>
    <section class="sesao-principal">
        <div class="headline">
            <span>IEAD</span>
            <h1>Ministério Canaã</h1>
        </div>
        <img ngSrc="/assets/logoIEADMinisterioCanaa.png" width="600" height="550"/>
    </section>
    <section class="cronograma-cultos">
        <div class="cultos-nomes">
            <h2>Culto da Família</h2>
            <h2>Culto de Ensino</h2>
            <h2>Culto de Adoração</h2>
        </div>
        <div class="culto-dias">
            <h3>Domingo</h3>
            <p>Terça-Feira</p>
            <p>Quinta-Feira</p>
        </div>
    </section>
</main>